*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    display: grid;
    place-items: center;
    min-height: 100vh;
    background: linear-gradient(-120deg, #deb0df, #a16bfe);
    overflow: hidden;
}
.ball{
    position:relative;
    height: 200px;
    width: 200px;
    background: radial-gradient(circle at 75% 30%,
                                #fff 5px,
                                #a16bfe 8%,
                                #7327f5 60%,
                                #a16bfe 100%);
    border-radius: 50%;
    box-shadow: inset 0 0 20px #fff,
                inset 10px 0 46px #eaf5fc,
                inset -20px -60px 100px #fde9ea,
                inset 0 50px 140px #fde9ea,
                0 0 90px #fff;
    animation: float 3.5s ease-in-out infinite;
}
@keyframes float{
    0%, 100%{
        transform: translateY(0px);
    }
    50%{
        transform: translateY(-80px);
    }
}
.shadow{
    width: 150px;
    height: 40px;
    top: 70%;
    position: absolute;
    background: #b490b2;
    animation: expand 3.5s infinite;
    border-radius: 50%;
}
@keyframes expand{
    0%, 100% {
        transform: scale(0.7);
    }
    50%{
        transform: scale(1);
    }
}