*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    display: grid;
    place-items: center;
    min-height: 100vh;
    background: linear-gradient(-120deg, #deb0df, #a16bfe);
    overflow: hidden;
    font-family: 'Silkscreen';
}
.ball{
    position:relative;
    height: 200px;
    width: 200px;
    background: radial-gradient(circle at 75% 30%,
                                #fff 5px,
                                #a16bfe 8%,
                                #7327f5 60%,
                                #a16bfe 100%);
    border-radius: 50%;
    box-shadow: inset 0 0 20px #fff,
                inset 10px 0 46px #eaf5fc,
                inset -20px -60px 100px #fde9ea,
                inset 0 50px 140px #fde9ea,
                0 0 90px #fff;
    animation: float 3.5s ease-in-out infinite;
}
.ball:hover{
    cursor: pointer;
}

@keyframes float{
    0%, 100%{
        transform: translateY(0px);
    }
    50%{
        transform: translateY(-80px);
    }
}
.shadow{
    width: 150px;
    height: 40px;
    top: 70%;
    position: absolute;
    background: #b490b2;
    animation: expand 3.5s infinite;
    border-radius: 50%;
}
@keyframes expand{
    0%, 100% {
        transform: scale(0.7);
    }
    50%{
        transform: scale(1);
    }
}
.textbox{
    width: 85%;
    height: 200px;
    background: #000;
    border: 6px solid #fff;
    position: absolute;
    top: 70%;
    padding: 15px;
    flex-direction: column;
    align-items: center;
    
}
.textbox-name{
    color: #fff;
    font-size: 1.8em;
    margin-bottom: 15px;
    flex-wrap: wrap;
}
.textbox-question{
    color: #fff;
    font-size: 1.8em;
    flex-wrap: wrap;
    flex-direction: row;

}
.textbox-question:hover{
    background-color: rgba(255,255,255,0.4);
    cursor: pointer;
}

.textbox-question img{
    height:24px;
    width:24px;
    margin-right: 5px;
    float: center;
}  
/* .textbox-question ::after{
   
} */
#text{
    color: #fff;
    font-size: 1.8em;
    flex-wrap: wrap;
}
.arrow-next{
    height:30px;
    width:30px;
    position: absolute;
    bottom: 15px;
    right:15px;
    animation: blink normal 2s infinite ease-in-out;
    cursor: pointer;
}
@keyframes blink {
    0% {
        opacity:1;
    }
    50% {
        opacity:0;
    }
    100% {
        opacity:1;
    }
}
#text3{
    color: #fff;
    font-size: 1.8em;
    flex-wrap: wrap;
}